.App {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* \ */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #cdcdd1;
}
h1,
h2,
h3,
h5 {
  color: #006ec5;
}
h1 {
  padding-top: 20px;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
h4 {
  color: #42a5f5;
  font-family: "Ubuntu", sans-serif;
}

label {
  color: #3a3c3f;
}
p {
  line-height: 1.5;
}
form {
  left: 5px;
  display: block;
}
ul, ol {
  margin-left: -1.5em;
  padding: 5px;
  list-style: none;
}
li {
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #5a6274;
}
li::first-letter {
  text-transform: capitalize;
}

.celcius-temp {
  color: #42a5f5;
  font-weight: 800;
  font-size: 40px;
  border: none;
}
a.celcius-temp {
  color: #42a5f5;
  text-decoration: none;
}

.btn-light {
  cursor: pointer;
  padding-left: 15px;
}
.btn-secondary {
  color: #42a5f5;
  opacity: 0.8;
}
.btn-secondary:hover {
  background-color: #006ec5;
  color: #006ec5;
}

.container-wrapper {
  border: 1px solid #929aa9;
  background: rgb(243, 243, 246, 0.8);
  opacity: 0.9;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  max-width: 800px;
  padding-bottom: 20px;
}

.container-location {
  left: 20px;
  color: #5a6274;
  font-size: 16px;
  padding: 10px;
}
.card {
  text-align: center;
}
.card-body {
  background: rgb(243, 243, 246, 0.9);
  border-radius: 10px;
}
.weather-icon {
  font-size: 50px;
  color: #5a6274;
  text-align: center;
  padding: 10px;
  transition: all 150ms ease-in-out;
}
.forecast-icon {
  color: #5a6274;
  transition: all 150ms ease-in-out;
}
.forecast-description {
  color: #5a6274;
}

.card-body {
  text-align: center;
  padding: 20px;
}

#forecast-icon:hover {
  opacity: 0.8;
}
.temp-max {
  color: #5a6274;
  opacity: 0.9;
}

.humidity,
.wind {
  font-size: 18px;
  color: #212529;
}
.footer {
  background-color: rgb(92, 89, 88, 0.3);
  background-color: rgb(255, 251, 249, 0.3);
  border: 1px solid rgb(255, 251, 249, 0.3);
  border-radius: 5px;
}
.open-source {
  padding: 10px;
  margin: 0 auto;
  /* padding: 5px; */
  display: block;
color: #ffff;
  text-decoration: none;
  text-align: center;
  justify-content: space-evenly;
}


#weather-element {
  color: #5a6274;
  transition: all 150ms ease-in-out;
}

.weather-now {
  opacity: 0.9;
  font-size: 60px;
  transition: all 150ms ease-in-out;
}
.weather-now:hover,
.weather-icon:hover {
  opacity: 0.5;
  font-size: 70px;
}
#weather-element:hover {
  opacity: 0.5;
  font-size: 70px;
}
